
<app-menu-title></app-menu-title>
<div class="container__articles">
   <div class="articles__main">
      <app-big-card photo="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/1.svg" 
      title="saiu a nova versão do pokemon bulbasaur" description="pokemon bulbasaur está mais veloz e camuflado">

      </app-big-card>
   </div>
   <div class="articles__others">
      <app-small-card photo="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/2.svg'" 
       title="saiu nova versão do pokemon ivysaur"></app-small-card>
      <app-small-card photo="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/3.svg'" 
      title="Saiu nova versão do pokemon venusaur"></app-small-card>
      <app-small-card photo="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/4.svg'" 
      title="saiu nova versão do pokemon charmander"></app-small-card>
   </div>
</div>